{% extends 'layout.html' %}
{% block title %}Entrada{% endblock %}
{% block content %}
<h1 class="py-3">Entrada</h1>
<form action="" method="post" class="row">
    {% csrf_token %}
    <div class="mb-3 col-md-4">
        <label for="valor">Valor</label>
        <div class="input-group">
            <span class="input-group-text">R$</span>
            <input type="number" class="form-control" id="valor" step="0.01" min="0" name="valor" value="{{ entrada.valor }}">
        </div>
    </div>
    <div class="mb-3 col-md-4">
        <label for="data">Data</label>
        <input type="date" class="form-control" id="data" name="data" value="{{ entrada.data }}">
    </div>
    <div class="mb-3 col-md-4">
        <label for="fonte">Fonte</label>
        <input type="text" class="form-control" id="fonte" name="fonte" value="{{ entrada.fonte }}">
    </div>
    <div class="mb-3 col-12">
        <div class="form-check">
            <input type="checkbox" name="extra" id="extra" class="form-check-input" {% if entrada.extra %}checked=""{% endif %}>
            <label for="extra" class="form-check-label">Extra</label>
        </div>
    </div>
    <div class="mb-3">
        <input type="submit" value="Salvar" class="btn btn-warning">
    </div>
</form>
<hr>
<p>Total: R$ {{ entrada.valor }}</p>
{% endblock %}