{% extends 'layout.html' %}
{% block title %}Saída{% endblock %}
{% block content %}
<h1 class="py-3">Saída</h1>
<form action="" method="post" class="row">
    {% csrf_token %}
    <div class="mb-3 col-md-4">
        <label for="valor">Valor</label>
        <div class="input-group">
            <span class="input-group-text">R$</span>
            <input type="number" class="form-control" id="valor" step="0.01" min="0">
        </div>
    </div>
    <div class="mb-3 col-md-4">
        <label for="data">Data</label>
        <input type="date" class="form-control" id="data">
    </div>
    <div class="mb-3 col-md-4">
        <label for="fonte">Fonte</label>
        <input type="text" class="form-control" id="fonte">
    </div>
    <div class="mb-3 col-12">
        <div class="form-check">
            <input type="checkbox" name="superfluo" id="superfluo" class="form-check-input">
            <label for="superfluo" class="form-check-label">Supérfluo</label>
        </div>
    </div>
    <div class="mb-3">
        <input type="submit" value="Salvar" class="btn btn-warning">
    </div>
</form>
<p>Total: R$ {{ saida }}</p>
{% endblock %}