{% extends 'layout.html' %}
{% block title %}Saída{% endblock %}
{% block content %}
<h1 class="py-3">Saída</h1>
<form action="" method="post" class="row">
    {% csrf_token %}
    <div class="mb-3 col-md-4">
        <label for="valor">Valor</label>
        <div class="input-group">
            <span class="input-group-text">R$</span>
            <input type="number" class="form-control" id="valor" step="0.01" min="0" name="valor" value="{{ form_saida.valor }}">
        </div>
    </div>
    <div class="mb-3 col-md-4">
        <label for="data">Data</label>
        <input type="date" class="form-control" id="data" name="data" value="{{ form_saida.data }}">
    </div>
    <div class="mb-3 col-md-4">
        <label for="fonte">Fonte</label>
        <input type="text" class="form-control" id="fonte" name="fonte" value="{{ form_saida.fonte }}" maxlength="80">
    </div>
    <div class="mb-3 col-12">
        <div class="form-check">
            <input type="checkbox" name="superfluo" id="superfluo" class="form-check-input"  {% if form_saida.superfluo %}checked=""{% endif %}>
            <label for="superfluo" class="form-check-label">Supérfluo</label>
        </div>
    </div>
    <div class="mb-3">
        <input type="submit" value="Salvar" class="btn btn-warning">
    </div>
</form>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ações</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Supérfluo</th>
            <th>Fonte</th>
        </tr>
    </thead>
    <tbody>
        {% for saida in saidas %}
            <tr>
                <td>
                    <div class="btn-group">
                        <a href="{% url 'saida_excluir' saida.id %}" class="btn btn-danger btn-sm">Excluir</a>
                        <a href="{% url 'saida_editar' saida.id %}" class="btn btn-secondary btn-sm">Editar</a>
                    </div>
                </td>
                <td>R$ {{ saida.valor }}</td>
                <td>{{ saida.data|date:'d/m/Y' }}</td>
                <td>{% if saida.superfluo %}Sim{% else %}Não{% endif %}</td>
                <td>{{ saida.fonte }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<p>Total: R$ {{ total|floatformat:2 }}</p>
{% endblock %}